NET "Num[0]" LOC = "L14";
NET "Num[1]" LOC = "H12";
NET "Num[2]" LOC = "N14";
NET "Num[3]" LOC = "N11";
NET "Num[4]" LOC = "P12";
NET "Num[5]" LOC = "L13";
NET "Num[6]" LOC = "M12";
NET "Num[7]" LOC = "N13";

NET "T[0]" LOC = "K14";
NET "T[1]" LOC = "M13";
NET "T[2]" LOC = "J12";
NET "T[3]" LOC = "F12";

NET "clk" LOC = "B8";
